h1, h2, h3, h4, h5, h6, legend {
  color: #438a8f
}

#sidebar h2 {
  background-color: #438a8f;
}

#main a {
  color: #438a8f;
  background-image: linear-gradient(180deg,#438a8f,#438a8f);
}

#main .navbar-nav > .active > a { 
    background-color: #438a8f;
    color: white;
}

#main li.active a, li a:hover {
  background-color: #438a8f !important;
}

code {
  color: #438a8f;
}

